@import "colors";

@keyframes animationToFrom {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animationWithBreakpoints {
  0% {
    transform: rotate(0deg);
    border-top: 16px solid #3498db;
  }

  33% {
    border-top: 16px solid pink;
  }

  50% {
    transform: rotate(360deg);
  }

  66% {
    border-top: 16px solid @text-orange;
  }

  100% {
    transform: rotate(0deg);
    border-top: 16px solid black;
  }
}

@keyframes swing {
  0% {
    left: -15px;
    top: -15px;
    background-color: rgba(@text-light-blue, 0.4);
    border: 1px solid @text-light-blue;
  }

  25% {
    left: 15px;
    top: -15px;
    background-color: rgba(@text-orange, 0.4);
    border: 1px solid @text-orange;
  }

  50% {
    left: 15px;
    top: 15px;
    background-color: rgba(@text-purple, 0.4);
    border: 1px solid @text-purple;
  }

  75% {
    left: -15px;
    top: 15px;
    background-color: rgba(@text-green, 0.4);
    border: 1px solid @text-green;
  }

  100% {
    left: -15px;
    top: -15px;
    background-color: rgba(@text-red, 0.4);
    border: 1px solid @text-red;
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
    background-color: transparent;
  }

  20% {
    transform: scale(1.5);
    background-color: rgba(@text-orange);
  }

  40% {
    transform: scale(0);
    background-color: transparent;
  }
}

.transition(@speed, @delay:0s) {
  transition: transform 3s @speed @delay, border-top 3s @speed @delay;
}

div:not(#root).loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid @text-light-blue;
  min-width: 50px;
  height: 50px;
  transition: transform 2s, border-top 2s;
  transform: rotate(0deg);
  margin: 10px auto;

  &.with-animation:hover {
    animation: animationToFrom 2s;

    &.normal {
      animation-direction: normal;
    }

    &.reverse {
      animation-direction: reverse;
    }

    &.alternate {
      animation-direction: alternate;
    }

    &.alternate-reverse {
      animation-direction: alternate-reverse;
    }

    &.nr_repetitions_1 {
      animation-iteration-count: 1;
    }

    &.nr_repetitions_5 {
      animation-iteration-count: 5;
    }

    &.nr_repetitions_infinite {
      animation-iteration-count: infinite;
    }

    &.ease {
      animation-timing-function: ease;
    }

    &.linear {
      animation-timing-function: linear;
    }

    &.ease-in {
      animation-timing-function: ease-in;
    }

    &.ease-out {
      animation-timing-function: ease-out;
    }

    &.ease-in-out {
      animation-timing-function: ease-in-out;
    }

    &.cubic-bezier {
      animation-timing-function: cubic-bezier(0.05, 1.81, 1, -1.05);
    }
  }

  &.with-animation-breakpoints:hover {
    animation: animationWithBreakpoints 5s;
  }

  &:not(.with-animation) {
    &.ease {
      .transition(ease);
    }

    &.ease-in {
      .transition(ease-in);
    }

    &.ease-out {
      .transition(ease-out);
    }

    &.linear {
      .transition(linear);
    }

    &.ease-in-out {
      .transition(ease-in-out);
    }

    &.cubic {
      .transition(cubic-bezier(0.05, 1.81, 1, -1.05));
    }

    &.delay {
      .transition(ease, 1s);
    }

    &:hover {
      transform: rotate(360deg);
      &.with-border {
        border-top: 16px solid @red;
      }
    }
  }
}

.exercise {
  text-align: center;

  input:not([type="radio"]) {
    background-color: var(--bg-color); 
    height: 24px;
    width: 300px;
    outline: none;
    border: 0px;
    border-bottom: 2px solid rgba(@text-grey, 0.5);
    transition: border-bottom 2s;
    font-size: 16px;
    cursor: pointer;
  }

  input:hover {
    border-bottom: 2px solid orange;
  }

  input[type="radio"] {
    opacity: 0;
    position: absolute;

    & + label {
      padding-left: 25px;
      position: relative;
      line-height: 32px;

      &:hover {
        cursor: pointer;

        &::before {
          border: 1px solid black;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        border: 1px solid @text-grey;
        border-radius: 50%;
        background-color: white;
        height: 18px;
        width: 18px;
        transition: border 0.5s linear;
        box-sizing: border-box;
      }
    }

    &:checked + label:before {
      border: 5px solid #ff9933;
    }
  }
}

.exercise div#square {
  position: relative;
  animation: swing 2s linear alternate infinite;
  width: 25px;
  height: 25px;
  margin: auto;

  .boxes();
  border-radius: 10%;
  padding: 0px;
}

.ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  animation: loading 2s infinite;
  margin-right: 5px;

  &.delay2 {
    animation-delay: 0.4s;
  }

  &.delay3 {
    animation-delay: 0.8s;
  }

  &.delay4 {
    animation-delay: 1.2s;
  }

  &.delay5 {
    animation-delay: 1.6s;
  }
}
