@import "colors";

div:not(#root).exampleForm {
  width: 600px;
  margin: auto;

  div:not(#root)#data {
    display: block;
    border: 1px dashed @orange;
    padding: 20px;
    opacity: 1;
    margin-top: 20px;

    &.hidden {
      display: none;
    }
  }

  label {
    padding-right: 10px;
  }

  .userAge {
    display: inline-block;
  }

  div:not(#root).row {
    display: flex;
    flex-direction: row;
    margin: 10px;

    input[type="submit"] {
      margin: auto;
      background-color: rgba(@orange, 0.1);
      padding: 10px;
      border: 1px solid @orange;
      border-radius: 4px;
      color: @orange;
    }

    & > input[type="tel"] {
      width: 9ch;
      margin-left: 5px; 
    }

    & > input[type="text"],
    & > input[type="email"],
    & > input[type="password"] {
      flex-grow: 1;
    }
  }

  div:not(#root) {
    margin: 0px;
    padding: 0px;

    &.checkboxOverride {
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }

    &#hobbies {
      padding-right: 10px;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid;
    outline: none;
  }

  input[type="checkbox"] {
    visibility: hidden;

    & + label {
      cursor: pointer;
      padding-left: 10px;
      &:before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid;
        display: inline-block;
        left: 0px;
        position: absolute;
        border-radius: 2px;
      }

      &:after {
        border-style: none none solid solid;
        content: "";
        height: 5px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 5px;
        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Safari and Chrome */
        transform: rotate(-45deg);
        width: 10px;
        color: @green;
      }
    }

    &:checked + label:after {
      opacity: 1;
    }

    &:disabled {
      + label {
        cursor: not-allowed;
        color: @text-grey;
        &:before {
          border: 1px solid @text-grey;
          background-color: rgba(@text-grey, 0.4);
        }
      }
    }
  }
}
