@import "colors";

:root {
  --examples-bg-color: rgba(253, 209, 58, 0.4);
  --examples-text-color: black;
  --bg-color: white;
  --text-color: black;
}

@keyframes scaleMindera {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

#root {
  margin: 0px;
  padding: 100px 0px 0px 0px;
}

h1 {
  font-weight: 600;
  padding: 10px;
  margin: 0px;
}

h2 {
  border-bottom: 1px solid rgba(@text-light-blue, 0.4);
  margin: 20px 20px 10px 20px;
  background-image: linear-gradient(
    var(--bg-color),
    rgba(@text-light-blue, 0.2)
  );
  font-size: 32px;
  font-weight: 600;
  border-radius: 4px;
  padding: 20px 60px;
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  left: -65px;
}

div.navigation {
  + h2 {
    margin-top: 20px;
  }
}

h3 {
  padding: 10px;
  font-size: 28px;
  margin: 20px 30px;
}

h4 {
  padding: 10px;
  font-size: 24px;
  margin: 20px 30px 20px 30px;
}

li {
  margin: 0px 60px;
}

ul,
div:not(#root),
table {
  padding: 10px;
  margin: 20px 40px 20px 40px;
  font-size: 16px;
  line-height: 1.2;

  h4 {
    margin: 0px;
    padding: 0px;
  }
}

body {
  margin: 0px;
  padding: 0px 45px;
  font-family: monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
}

div:not(#root) {
  &.examples {
    max-width: 100%;
    background-color: @solarized-green;
    color: #f4f4f4;
    .boxes();

    div {
      margin: 0px;
    }

    &.with-example {
      display: flex;
      padding: 30px;

      .content {
        flex-grow: 1;
        margin: 0px;
      }

      .example {
        align-self: center;
      }
    }
  }

  &.info {
    &.center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    align-items: flex-start;
    border-bottom: 1px solid rgba(120, 169, 255, 0.5);
    background-color: rgba(120, 169, 255, 0.25);
    .boxes();

    .active {
      color: @warmblue;
    }

    b {
      cursor: pointer;
    }
  }
  &.exercise {
    background-color: rgba(@text-grey, 0.1);
    .boxes();

    .correct,
    .incorrect {
      cursor: pointer;
    }

    .correct:hover {
      color: @text-green;
    }
    .incorrect:hover {
      color: @text-red;
    }
  }

  &.pageHeader {
    .boxes();
    background-color: white;
    background-image: linear-gradient(
      var(--examples-bg-color),
      var(--bg-color)
    );
    color: var(--examples-text-color);
    width: 100vw;
    left: 0px;
    top: -20px;
    margin: 20px 0px;
    border-bottom: 1px solid rgba(@yellow, 1);
    position: fixed;
    z-index: 2;
    box-sizing: border-box;
    h1 {
      border: 0px;
    }
  }
}

// toogle
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  top: 5px;
  margin-right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: @text-grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: @warmblue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(6px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  width: calc(100% - 80px);

  thead {
    tr {
      background-color: rgba(@solarized-green, 1);
      color: white;

      th {
        padding: 6px;
        line-height: 24px;
        border-radius: 4px;
      }
    }
  }

  tr {
    text-align: center;
    line-height: 24px;

    a {
      underline: none;
      color: (@text-light-blue);
    }
    td {
      border-radius: 4px;
      padding: 6px;
      a {
        text-decoration: none;
      }
    }
  }

  tr:nth-child(even) {
    background-color: rgba(@solarized-green, 0.4);
    color: white;
  }
}

.nr_idents1 {
  padding-left: 15px;
}

.nr_idents2 {
  padding-left: 30px;
}

.nr_idents3 {
  padding-left: 45px;
}

.nr_idents4 {
  padding-left: 60px;
}

.nr_idents5 {
  padding-left: 75px;
}

.navigation:not(#root) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

  div:not(#root) {
    text-align: center;

    background-color: rgba(@yellow, 0.4);
    color: black;

    .boxes();
    padding: 0px;

    a {
      text-decoration: none;
      color: black;
      padding: 10px;
      display: block;
      white-space: nowrap;
      min-width: 150px;
      cursor: pointer;
    }

    &.empty {
      background-color: rgba(@warmblue, 0.4);
      &:hover {
        background-color: rgba(@warmblue);
      }
    }

    &:not(.empty):hover {
      background-color: rgba(@yellow);
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .flex-column:not(#root) {
    margin: 0px 20px;
  }
}

#anchor {
  scroll-margin-top: 100px;
}

#mindera-icon {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  transition: 1s linear background-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &:hover {
    background-color: rgba(@text-red, 0.5);
  }

  img {
    height: 30px;
    width: 30px;

    animation: scaleMindera 1s infinite;
  }
}

.chevron:not(#root) {
  padding: 0px;
  margin: 0px;
}

#glasses {
  margin-left: 20px;
}

footer {
  position: relative;
  left: -45px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  .theme {
    position: relative;
    top: 5px;
  }
}

.allClasses {
  margin-top: 20px;
}
