@import "colors";

.hover {
  cursor: pointer;
  & + span {
    display: none;
  }

  &:hover {
    & + span {
      display: initial;
    }
  }
}

h4 {
  border-bottom: 1px solid rgba(@text-yellow, 0.6);
  border-radius: 4px;
  margin: 0px 50px;
}

h4 ~ div:not(#root) {
  margin: 20px 60px;
}
